<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
	
	<!-- Navbar -->
	<nav
		class="main-header navbar navbar-expand border-bottom navbar-dark bg-info">
		<!-- Left navbar links -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" data-widget="pushmenu"
				href="#"><i class="fa fa-bars"></i></a></li>
			<li class="nav-item d-none d-sm-inline-block"><a href="/main"
				class="nav-link">Home</a></li>
	
		</ul>

		<!-- Print -->

		<div id="btnPrint"></div>

		<!-- Right navbar links -->
		<ul class="navbar-nav ml-auto">
			<!-- Logout dropdown -->

			<li class="nav-item dropdown"><a class="nav-link"
				data-toggle="dropdown" href="#"> <i
					class="fa fa-user-circle fa-lg" aria-hidden="true"></i> <span
					class="nav-item d-none d-sm-inline-block"></span>
			</a>
				<div class="dropdown-menu dropdown-menu-right">

					<a href="#" class="dropdown-item"> <i class="fa fa-user blue"
						aria-hidden="true"></i> <span class="black"> Profile</span>
					</a>
					<div class="dropdown-divider"></div>
					<a th:href="@{/logout}" class="dropdown-item"> <i
						class="fa fa-sign-out blue" aria-hidden="true"></i> <span
						class="black">Logout</span>

					</a>
				</div></li>

		</ul>
	</nav>
	<!-- /.navbar -->

</header>

</html>